*, 
*::after, 
*::before{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

img{
    display:block; 
    max-width: 100%;
}

main{
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.container{
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}